.login-form-container {
  text-align: center;
}

#login {
  text-align: left;
}

#login input {
  width: 98%;
  border: none;
  border-bottom: .15rem solid #524632;
  background-color: transparent;
  padding: .5rem;
}

#login input:focus {
  border-bottom: .15rem solid #FFD256;
  outline: none;
}

.demo {
  text-align: center;
  color: #E36397;
}

@media screen and (max-width: 40rem) {
  #login input {
    width: 100%;
  }
}
