form div {
  text-align: center;
  margin: .4rem;
}

button {
  width: 25%;
  height: 2rem;
  margin: 0;
  background-color: #282E34;
  color: #FFF;
}

form p {
  padding: 0;
  margin: 0;
}

input {
  width: 20%;
  border: none;
  border-bottom: .125rem solid #524632;
  background-color: transparent;
  padding: .5rem;
}

input:focus {
  border-bottom: 2px solid #FFD256;
  outline: none;
}

/*
#login {
  background-color:
}

#sign-up {
  background-color:
}

*/
