.reset-button-container {
  text-align: center;
}

.reset-button {
  background-color: #E36397;
  color: #FFF;
  width: 70%;
  height: 1.8rem;
  padding: 0.3rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}
