#add-job-form {
  text-align: left;
}

#add-job-form fieldset {
  border: none;
  border-radius: 0.188rem;
  margin: 0 auto;
}

.form-error {
  width: 50%;
}
input {
  width: 90%;
  border: none;
  border-bottom: .125rem solid #524632;
  background-color: transparent;
}

input:focus {
  border-bottom: 2px solid #FFD256;
  outline: none;
}

#add-job-form label {
  display: block;
  color: #524632;
  margin-top: 1rem;
}

#add-job-form a:hover {
  font-size: 100%;
}

.progress-container {
  margin: 1rem 0;
}

.progress-container input {
  display: inline-block;
  margin-left: 48%;
}
