#landing-header {
  padding: 5rem 1rem;
  background-image: url("landing.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40rem;
}

#app-title, h2 {
  margin-top: 5rem;
  text-align: center;
  color: #FFF;
  font-family: 'Maven Pro', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
}
