.job-req-list-item {
  display: block;
  text-align: left;
}

.job-req-container {
  margin-top: 2rem;
  text-align: left;
}

.job-req-list-container {
  margin-left: 1rem;
}

.job-req-container h4 {
  text-align: center;
}
