#add-job-form {
  text-align: left;
}

#add-job-form fieldset {
  border: none;
  border-radius: 0.188rem;
}

input {
  width: 100%;
  border: none;
  border-bottom: .125rem solid #524632;
  background-color: transparent;
  padding: .5rem;
}

input:focus {
  border-bottom: 2px solid #FFD256;
  outline: none;
}

input[type=date] {
  padding: .3rem;
}

#add-job-form label {
  display: block;
  color: #524632;
  margin-top: 1rem;
}

#add-job-form button {
  height: 1.8rem;
  padding: 0.3rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}
