
.profile-warning-container {
  text-align: center;
}

.profile-warning-container a {
  color: #4CA6EF;
}

.current-skill-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.current-skill-container h3 {
  color: #379392;
  text-align: left;
}

.individual-skill-container:not(:last-child) {
  border-bottom: .125rem dotted #282E34;
}

.edit-skill-button, .delete-skill-button {
  margin-top: 1rem;
  background-color: transparent;
}

.delete-skill-button {
  color: #E36397;
}

.edit-skill-button {
  color: #1374C4;
}
