
.profile-warning-container {
  text-align: center;
}

.profile-warning-container a {
  color: #4CA6EF;
}

.current-skill-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.current-skill-container h3 {
  color: #379392;
  text-align: left;
}

.current-skill-container a:hover {
  font-size: 100%;
}
