
.profile-warning-container {
  text-align: center;
}

.profile-warning-container a {
  color: #4CA6EF;
}

.current-skill-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.current-skill-container h3 {
  color: #379392;
  text-align: left;
}

.individual-skill-container {
  border-bottom: .125rem dotted #282E34;
}
