.view-job-title-container {
  background-color: #348E8D;
  border-radius: 0.3rem;
  color: #FFF;
}
.view-job-container h3, .view-job-container h4 {
  margin: 1rem 0;
}

.edit-job-container {
  text-align: right;
}

.edit-job-button-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 0.1rem solid #E8E8E8;
  padding-top: 2%;
}
