.view-job-title-container {
  background-color: #348E8D;
  border-radius: 0.3rem;
  color: #FFF;
}
.view-job-container h3, .view-job-container h4 {
  margin: 1rem 0;
}

.view-job-container h4 {
  text-decoration: underline;
}

.edit-job-container {
  text-align: right;
}

.edit-job-button-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 0.1rem solid #E8E8E8;
  padding-top: 2%;
}

.edit-job-button-container button {
  width: 70%;
  height: 1.8rem;
  padding: 0.3rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}
