.chart-container {
  margin-top: 2rem;
  background-color: #FFF;
  text-align: center;
}

.chart-container h3 {
  color: #379392;
  text-align: left;
}

.chart-container p {
  margin: 0.2rem 0;
}

.recharts-wrapper {
  margin: 0 auto;
}

.edit-skill-container {
  text-align: right;
  margin-top: 6.5rem;
  margin-bottom: 1rem;
}

.edit-skill-container a {
  color: #379392;
  text-align: right;
}
