.chart-container {
  margin-top: 2rem;
  background-color: #FFF;
  text-align: center;
}

.chart-container h3 {
  color: #379392;
  text-align: left;
}

.recharts-wrapper {
  margin: 0 auto;
}

.edit-container {
  text-align: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit-container a {
  color: #379392;
}
