form, #form-title-container {
  text-align: left;
}

#form-title-container > h3 {
  color: #379392;
}

fieldset {
  border: none;
  border-radius: 0.188rem;
  background-color: #F4F4F4;
}

input {
  width: 80%;
  border: none;
  border-bottom: .125rem solid #524632;
  background-color: transparent;
  padding: .5rem;
}

input:focus {
  border-bottom: 2px solid #FFD256;
  outline: none;
}

label {
  display: block;
  color: #524632;
  margin-top: 1rem;
}

form button {
  width: 30%;
  height: 1.8rem;
  padding: 0.3rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}
