ul {
  list-style: none;
  -webkit-padding-start: 0;
}

li {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  color: #FFD256;
  font-size: 1.2rem;
}
