section {
  min-height: 13rem;
  padding: 1.2rem;
  background-color: #FFF;
}

section:nth-child(even) {
  background-color: #FFF;
}

#about div {
  margin: 1rem 0;
}

p {
  margin: 0 auto;
  margin: 1rem 0;
}

.fa-user, .fa-plus-circle, .fa-pencil-square-o {
  color: #379392;
}
