.job-item a {
  color: #282E34;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.2rem;
  width: 14rem;
}

.job-item:hover {
  background-color: #E8E8E8;
}

.job-item {
  font-size: 0.95rem;
  width: 100%;
}
