.job-item button {
  color: #282E34;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.6rem;
  width: 100%;
  background: transparent;
  text-align: left;
  margin: 0;
}

.job-item button:hover {
  background-color: #E8E8E8;
  color: #000;
  font-size: 100%;
}

.job-item {
  font-size: 0.95rem;
  width: 100%;
}
