section {
  min-height: 13rem;
  padding: 1.2rem;
  background-color: #FFF;
}

section:nth-child(even) {
  background-color: #FFF;
}

div {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

p {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
