.big-button-container {
  text-align: center;
}

.big-button-container button {
  width: 70%;
  height: 2.6rem;
  padding: 0.7rem 0.5rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}

.add-button {
  background-color: #379392;
  color: #FFF;
}

.cancel-button {
  background-color: #FFF;
  color: #379392;
  border: 0.188rem #379392 solid;
}

.save-button, .submit-button, .add-button, .edit-button {
  background-color: #379392;
  color: #FFF;
}

.delete-skill-button {
  color: #ea9341;
}

.edit-skill-button {
  color: #1374C4;
}

.edit-skill-button, .delete-skill-button {
  margin-top: 1rem;
  background-color: transparent;
}

.edit-button {
  background-color: #379392;
  color: #FFF;
}

.delete-button, .reset-button {
  background-color: #087CA7;
  color: #FFF;
}
