.progress-container {
  margin: 2% 0;
  text-align: center;
}

.progress-bar-container {
  margin: 1% 0;
}

.progress-check:first-child {
  color: #36BAC4 ;
}

.progress-check:nth-child(2) {
  color: #2CA39B;
}

.progress-check:nth-child(3) {
  color: #087CA7;
}

.progress-check:nth-child(4) {
  color: #004E64;
}
