#auth-form div {
  text-align: center;
  margin: .5rem;
}

#auth-form button {
  width: 25%;
  height: 2rem;
  margin: 0;
  background-color: #282E34;
  color: #FFF;
}

#auth-form p {
  padding: 0;
  margin: 0;
}

#auth-form input {
  width: 20%;
  border: none;
  border-bottom: .125rem solid #524632;
  background-color: transparent;
  padding: .5rem;
}

#auth-form input:focus {
  border-bottom: 2px solid #FFD256;
  outline: none;
}

#auth-form #sign-up-button {
  background-color: #379392;
  color: #FFF;
}

#auth-form #login-button {
  background-color: #FFD256;
  color: #282E34;
}

#auth-form #demo-button {
  background-color: #E36397;
  color: #FFF;
}

@media screen and (min-width: 40rem) {

}

@media screen and (max-width: 40rem) {
  #auth-form input {
    width: 50%;
  }
  #auth-form button {
    width: 50%;
  }

}
