.month-button-container {
  text-align: center;
  margin-top: 1.8rem;
}

.month-button {
  height: 10%;
  width: 17%;
  padding: 1%;
  margin: 0.2%;
  margin-bottom: 0;
  transition: 0.2s;
  display: inline-block;
  border-radius: 0.188rem;
  border: 0.188rem solid #379392;
}

#month-button-0, #month-button-2 {
  color: #FFF;
  background-color: #379392;
}

#month-button-1, #month-button-3 {
  color: #379392;
}
