.month-collection-container {
  height: 20rem;
}

#select-month-form fieldset {
  border: none;
}

.profile-warning-container {
  text-align: center;
}

.profile-warning-container a {
  color: #4CA6EF;
}

.profile-warning-container a {
  color: #4CA6EF;
}

.month-card-container {
  margin: 1% 0;
  height: 24rem;
  border-radius: 0.188rem;
}

.month-card-container h3 {
  text-align: center;
  margin: 1.5% 0;
  text-decoration: underline #282E34;
}

.month-card-container {
  background-color: #379392;
}

.job-item-list {
  background-color: #FFF;
  text-overflow: ellipsis;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
  text-align: left;
  margin: 2% 0;
  padding: 1%
}

.job-item-list li {
  margin: 1% 0;
  text-overflow: ellipsis;
}

.select-style {
  border: 0.125rem solid #379392;
  border-radius: 0.188rem;
  overflow: hidden;
  background: #379392;
  padding: 0.5rem 0;
  color: #FFF
}

.select-style select {
  padding: 0.2rem;
  border: none;
  box-shadow: none;
  background: #FFF;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none !important;
}

#send-button {
  background: transparent;
  color: #FFF;
  font-size: 2.3rem;
  padding-right: 0.5rem;
}

#send-button i {
  vertical-align: sub;
}

.white-text {
  color: #FFF;
}

p > a {
  color: #ea9341;
}

p > a:hover {
  color: #ea9341;
}

.empty-message {
  text-align: center;
}
