.month-collection-container {
  margin-bottom: 4rem;
}

.profile-warning-container {
  text-align: center;
}

.profile-warning-container a {
  color: #4CA6EF;
}

.month-card-container {
  margin: 1% 0;
  height: 20rem;
}

.month-card-container h3 {
  text-align: center;
  margin: 1.5% 0;
  text-decoration: underline #282E34;
}

.month-card-container:nth-child(-n+3) {
  background-color: #4AC9C7;
}

.month-card-container:nth-child(-n+6):not(:nth-child(-n+3))  {
  background-color: #FFD256;
}

.month-card-container:nth-child(-n+9):not(:nth-child(-n+6)):not(:nth-child(-n+3)) {
  background-color: #FFAFB6;
}

.month-card-container:nth-child(-n+12):not(:nth-child(-n+9)):not(:nth-child(-n+6)):not(:nth-child(-n+3)) {
  background-color: #4CA6EF;
}

.job-item-list {
  background-color: #FFF;
  text-overflow: ellipsis;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 73%;
  text-align: left;
  margin: 0.5% 0;
}
