/*------------------------------------------------------------------------------
  common styles
------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav {
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav, footer {
  padding: 1% 0;
  background-color: #282E34;
  color: #FFF;
}

footer {
  margin-top: 8rem;
  padding-bottom: 3%;
  height: 8rem;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: .6;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.188rem;
  transition-duration: 100ms;
}

input::placeholder {
  color: #99B0C6;
}

/*------------------------------------------------------------------------------
  Animations for typography & form elements
------------------------------------------------------------------------------*/
h1, h2, h3, p, a, input, button, ol, ul, div, form {
  transition: all .1s linear;
}

/*------------------------------------------------------------------------------
  Media queries
------------------------------------------------------------------------------*/

@media screen and (min-width: 40rem) {
  h1, h2, h3, p, a, input, button, ol, ul, div, form {
    transition: all .1s linear;
  }
  .smallScreenDisplay {
    display: none;
  }

  .largeScreenHidden {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  .smallScreenHidden {
    display: none;
  }
  .smallScreenDisplay {
    display: inline-block;
  }
}
