/*------------------------------------------------------------------------------
  common styles
------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav {
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav, footer {
  padding: 1% 0;
  background-color: #282E34;
  color: #FFF;
}

/*------------------------------------------------------------------------------
  Animations for typography & form elements
------------------------------------------------------------------------------*/
h1, h2, p, a, input, button, ol, ul {
  transition: all .2s linear;
}

/*------------------------------------------------------------------------------
  Media queries
------------------------------------------------------------------------------*/

@media screen and (min-width: 40rem) {
  h1, h2, p, a, input, button, ol, ul {
    transition: all .2s linear;
  }
  .smallScreenDisplay {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  .smallScreenHidden {
    display: none;
  }
  .smallScreenDisplay {
    display: inline-block;
  }
}
