.progress-container {
  margin: 2% 0;
  text-align: center;
}

.progress-bar-container {
  margin: 1% 0;
}

.progress-triangle {
  border: 0.1rem solid #E8E8E8;
  text-align: center;
  border: none;
}

.progress-triangle:first-child {
  background-color: #EDFFF0 ;
}

.progress-triangle:nth-child(2) {
  background-color: #C1FFF3;
}

.progress-triangle:nth-child(3) {
  background-color: #B1E9ED;
}

.progress-triangle:nth-child(4) {
  background-color: #88DAE0;
}

.progress-triangle:last-child {
  background-color: #59D7E0;
}
