.profile-warning-container {
  text-align: center;
  color: #E36397
}

.current-skill-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.current-skill-container h3 {
  color: #379392;
  text-align: left;
}

.individual-skill-container:not(:last-child) {
  border-bottom: .125rem dotted #282E34;
}

.edit-button, .delete-button {
  margin-top: 1rem;
  background-color: transparent;
}

.delete-button {
  color: #E36397;
}

.add-button {
  width: 30%;
  height: 1.8rem;
  padding: 0.3rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}
