#add-skill-form {
  margin-top: 1.25rem;
}

#add-skill-form, #form-title-container {
  text-align: left;
}

#form-title-container > h3 {
  color: #379392;
}

#add-skill-form fieldset {
  border: none;
  border-radius: 0.188rem;
}

#add-skill-form input:focus {
  border-bottom: 2px solid #FFD256;
  outline: none;
}

#add-skill-form label {
  display: block;
  color: #524632;
  margin-top: 1rem;
}

#add-skill-form button, .add-skill-button {
  height: 1.8rem;
  padding: 0.3rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}

.add-button-container {
  margin-top: 1rem;
}

.add-button-container, .cancel-add-skill-button-container {
  text-align: center;
}

.add-skill-button {
  background-color: #FFD256;
  color: #282E34;
  width: 30%;
}

.cancel-add-skill-button {
  background-color: #04afed;
  color: #FFF;
  width: 70%;
}
